# Copyright (c) 2024 Ridwan Abdullah
# SPDX-License-Identifier: MIT

config SHIELD_YORNE_LEFT
    def_bool $(shields_list_contains,yorne_left)

config SHIELD_YORNE_RIGHT
    def_bool $(shields_list_contains,yorne_right)